/* website css*/

img {
  border-radius:15px;
  float:left;
  
}

body {    /*fondo*/
  background:#00BFFF;
}

head {    /*Menú*/
  color:#FFFFFF;
  float:left;
}

title {    /*titulo*/
  color:#00BFFF;
  text-shadow:5px 5px 5px ##000000 ;
  font-family:"Comic Sans MS";
  text-align: center;
}

p {        /*escritura*/
  color:#000000;
  font-family:"Comic Sans MS";
}

article p {
 color:#000000;
 font-family:"Comic Sans MS";
}


div a [href="https://twitter.com/skrigueztep"]{    /*enlaces*/
  color:#32CD32;
  border:10px 20px;
  margin:5px 10px;
}

buttom {    /*botones*/
  color:#7CFC00;
  margin:?px ?px ?px ?px;  /*dependiendo del boton y su lugar (al tener varios botones agragarle un div y/ó class)*/
  padding:10px 20px;
}

div table{
  color:#000000;
  border:10px 25px;
}

footer {
  background:#000000; 
}
