/* website css*/
body {    /*fondo*/
  background:#00BFFF;
}

head {    /*Menú*/
  color:#FFFFFF;
  float:left;
}

title {    /*titulo*/
  color:#00BFFF;
  text-shadow:5px 5px 5px ##000000 ;
  font-family:"Comic Sans MS";
  text-align: center;
  
}

p {        /*escritura*/
  color:#000000;
  font-family:"Comic Sans MS";
}

a [href="https://github.com/Jisusboy"]{    /*enlaces*/
  color:#32CD32;
}

buttom {    /*botones*/
  color:#7CFC00;
  margin:?px ?px ?px ?px;  /*dependiendo del boton y su lugar (al tener varios botones agragarle un div y/ó class)*/
  padding:10px 20px;
}

class widget { /*color widget´s*/
  color:#FF4500;
}

footer {
  color:#000000; 
}
